@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>This is Dashboard</p>
<p>Suppliers, Customers, List Product, AddProduct, Update Product, List purchases,sales product, addPurchases, Stock, Reports</p>
<p>In reports Profit and loss report, purchase and sales report, Stock report, product sales report</p>